.sider {
  padding: 24px;

  .avatar {
    position: relative;
    margin-bottom: 24px;

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-left: 78px;

      h2 {
        margin-bottom: 5px;
        font-weight: bold;
      }
    }
  }

  .content {
    & > div {
      margin-bottom: 5px;
      margin-left: 2px;
    }
  }
}
