@import '~antd/lib/style/themes/default.less';

.search {
  padding: 24px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.wrapper {
  position: relative;
  height: calc(~'100vh - 250px');
  background-color: #fff;

  .sider {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    border-right: 1px solid #e8e8e8;
  }

  .content {
    height: 100%;
    padding-left: 240px;

    .tabs {
      :global {
        .ant-tabs-content {
          height: calc(~'100vh - 312px');
        }
      }
    }
  }
}

.error {
  padding-top: 45px;
  color: @error-color;
  font-size: 16px;
  text-align: center;
}

.treatmentRecord {
  height: 100%;
  overflow-y: auto;

  :global {
    .ant-card {
      margin-bottom: 24px;
    }
  }

  .card {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 200px;
    border-right: 1px solid #e8e8e8;
  }

  .right {
    flex: 1;
    padding-left: 24px;
  }
}

.briefHistory {
  height: 100%;
  padding-top: 14px;
  padding-left: 220px;
  overflow: auto;

  .dot {
    position: relative;

    .date {
      position: absolute;
      top: 28px;
      left: -35px;
      width: 100px;
    }
  }

  .dotContent {
    position: relative;
    min-height: 68px;

    .left {
      position: absolute;
      top: -6px;
      left: -220px;
      width: 160px;
      min-height: 36px;
      background-color: #fcf;
    }
  }
}
