.containner {
  position: relative;
  height: 100%;
  .chatTitle {
    line-height: 60px;
    text-indent: 20px;
    border-bottom: 1px solid #ddd;
  }

  .time {
    padding: 5px 0;
    text-align: center;
  }

  .rightMessage {
    padding: 5px 10px;
    overflow: hidden;

    div {
      float: right;
      max-width: 200px;
      padding: 10px;
      background: skyblue;
      border-radius: 2px;
    }
  }

  .leftMessage {
    padding: 5px 10px;
    overflow: hidden;

    div {
      float: left;
      max-width: 200px;
      padding: 10px;
      background: white;
      border-radius: 2px;
    }
  }

  .inputPane {
    position: absolute;
    bottom: 0;
    width: 100%;
    .sendBtn {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 9;
    }
  }
}
