@rightWidth: 500px;
@leftWidth: 250px;
.container {
  .chatPane {
    margin-top: -16px;
    .chatLeft {
      float: left;
      width: @leftWidth;
    }
    .chatRight {
      float: right;
      width: @rightWidth;
    }
    .chatMiddle {
      height: 600px;
      margin: 0 @rightWidth 0 @leftWidth;
      background: rgb(245, 245, 245);
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
  }
}
