@width: 300px;
.container {
  .chatPane {
    margin-top: -16px;
    .chatLeft {
      float: left;
      width: @width;
    }
    .chatRight {
      float: right;
      width: @width;
    }
    .chatMiddle {
      height: 600px;
      margin: 0 @width;
      background: rgb(245, 245, 245);
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
  }
}
