@import '~antd/lib/style/themes/default.less';

.tabPane {
  padding: 0 20px;

  .form {
    .formItem {
      margin-bottom: 0;
    }
  }
}

.card {
  margin-bottom: 10px;

  :global {
    .ant-card-body {
      padding: 10px;
    }
  }
}

.card2 {
  margin-bottom: 10px;

  :global {
    .ant-card-body {
      padding: 0;
    }
  }

  .timeline {
    max-height: 330px;
    padding: 10px;
    overflow: auto;

    .timelineItemDate {
      float: right;
    }
  }
}

.iconCard {
  position: fixed;
  right: 10px;
  bottom: 20px;
  color: #fff;
  background-color: rgba(94, 94, 94, 1);

  :global {
    .ant-card-actions {
      background-color: rgba(107, 107, 107, 1);
      border-top: 0;

      > li {
        border-right: 0;
      }
    }
  }
}

.iconPhone {
  position: fixed;
  right: 10px;
  bottom: 20px;
  font-size: 80px;
  cursor: pointer;
}
