@import '~antd/lib/style/themes/default.less';

.formItem {
  margin-bottom: 0
}

.tabPane {
  padding: 0 20px;
}

.card {
  margin-bottom: 10px;

  :global {
    .ant-card-body {
      padding: 10px;
    }
  }
}

.timeline {
  max-height: 300px;
  overflow: auto;
  padding: 5px 0;

  .timelineItemDate {
    float: right;
  }
}
