.container {
  padding: 5px 0;

  .delete {
    visibility: hidden;
    cursor: pointer;
  }

  border: 1px solid transparent;

  &:hover {
    // border: 1px dotted skyblue;

    .delete {
      visibility: visible;
    }
  }
}
