.negative {
  border: 1px solid transparent;

  &:hover {
    border: 1px dotted skyblue;
  }
}

.active {
  background: #ddd;
  border: 1px solid transparent;
}

.input {
  // width: 100%;
  min-width: 70%;
  background: transparent;
  border: none;
}

.input:focus {
  outline: transparent auto 1px;
  // border:none;
}
